/*Stylesheet new*/

div {
  border: 1px solid gray;
  padding: 8px;
  width: 100px;
}

img {
  border-radius: 8px;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

h1, h2, h3 {
  text-align: center;
  color: #4CAF50;
  margin-left: 70px;
  background-color: white;
}
p { 
text-align: center;
margin-left: 70px;
font-style: normal;
background-color: white;
}

body {
  background: url("whitegreen.svg"); no-repeat; fixed;
}

table, th, td {
  text-align: center;
  border: 1px solid black;
}

div navbar {
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
}

